@use "setup/all" as *;
@use "components/dashboard-content";
@use "components/header";
@use "components/mobile-nav";
@use "components/modal";
@use "components/passwords";
@use "components/scrollbar";
@use "components/panels-bar";
@use "panels/all" as *;

aside.lateral-bar {
    padding: 2rem 0 0 0;
    width: 100%;
    max-width: calc(100dvw / 6);
    font-size: 1.8rem;
    background-color: #343746;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section.lateral-bar__user-section {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1e2129;
        transition: 0.5s all;
        cursor: pointer;

        &:hover {
            background-color: #282c36;
            border-radius: 1.5rem 1.5rem 0 0;
        }

        .user-section__user-infos {
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 1rem;

            .user-infos__user_picture {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;

                img { border-radius: 50%; }
            }

            .user-infos__nickname {
                flex: 1 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        button#user-section__logout-btn {
            color: #ff6969;
            width: 3rem;
            height: 3rem;
            aspect-ratio: 1;
            background-color: #800c0c;
            border-radius: 25%;
            cursor: pointer;
            transition: 0.2s all;

            &:hover {
                transform: scale(1.1);
                color: #ff9090;
                background-color: #a52424;
                // border-radius: 50%;
            }
        }
    }
}
