@use "setup/all" as *;
@use "components/dashboard-content";
@use "components/ToggleViewButton";
@use "components/mobile-nav";
@use "components/modal";
@use "components/passwords";
@use "components/scrollbar";
@use "components/panels-bar";
@use "components/header";
@use "panels/all" as *;

aside.lateral-bar {
    padding-top: $mid-padding;
    width: 100%;
    max-width: calc(100dvw / 6);
    font-size: $large-font-size;
    background-color: $primary-color;
    overflow: hidden;
    @include flex-column(space-between);

    nav.tabs-menu {
        width: 100%;
        height: fit-content;

        ul.dashboard-links {
            @include flex-column($gap: $short-padding);

            li.dashboard-links__item {
                padding: $normal-padding $mid-padding;
                @include text-ellipsis;
                @include flex-row($align: center, $gap: $normal-padding);
                @include clickable(.3s);

                &:hover, &.dashboard-links__item--active {
                    background-color: rgba(black, .2);
                }

                span {
                    flex: 1 1 auto;
                    display: block;
                    min-width: 0;
                    color: white;
                    @include text-ellipsis;
                }
            }
        }
    }
    
    section.lateral-bar__user-section {
        padding: $normal-padding;
        background-color: $lines-color;
        @include flex-row(space-between, center);
        @include clickable(.5s);

        &:hover {
            background-color: $backdrop-color;
            border-radius: $short-normal-padding $short-normal-padding 0 0;
        }

        a {
            color: white;
            overflow: hidden;
            
            .user-section__user-infos {
                width: 100%;
                overflow: hidden;
                @include flex-row($align: center, $gap: $normal-padding);
    
                .user-infos__user_picture {
                    @include circle($user-picture-size);
    
                    img {
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
    
                .user-infos__nickname {
                    flex: 1 0;
                    @include text-ellipsis;
                }
            }
        }

        button#user-section__logout-btn {
            @include rounded-square($logout-btn-size, 25%, $cancel-color-backdrop);
            color: $cancel-color;
            @include clickable(.2s);

            &:hover {
                transform: scale(1.1);
                filter: brightness(1.2);
            }
        }
    }
}
