@use "setup/all" as *;
@use "components/ToggleViewButton";
@use "components/header";
@use "components/mobile-nav";
@use "components/scrollbar";
@use "components/Modal";

main {
    @include flex-column(space-around, center);

    section.user-settings {
        @include flex-column(space-between, $gap: $large-padding);

        .user-settings__user-infos {
            @include flex-row($align: center, $gap: $normal-mid-padding);

            input#user-picture-input { display: none }

            label.user-infos__picture {
                outline: 4px solid white;
                @include circle($large-user-picture-size, $border: 3px solid black);
                @include clickable(.3s);

                img {
                    object-fit: cover;
                    border-radius: inherit;
                    transition: inherit;
                }

                &:hover img { filter: brightness(25%) }
            }

            .user-infos__user-nickname {
                font-size: 5rem;
                @include flex-row($gap: $mid-padding);

                label.user-nickname__nickname:focus {
                    border-bottom: 2px solid white;
                }

                button#edit-nickname-btn {
                    font-size: inherit;
                    color: inherit;
                    @include clickable(.2s);

                    &:hover { opacity: 0.5 }
                }
            }
        }

        button#change-password-btn {
            margin-right: auto;
            font-size: $default-font-size;
            box-shadow: $default-shadow;
            @include icon-text-btn(
                $primary-color,
                5px $normal-padding,
                $normal-padding, $tiny-radius, .5s
            );
        }
    }

    button#save-changes-btn {
        box-shadow: $default-shadow;
        @include icon-text-btn(
            $confirm-color,
            $normal-padding $short-normal-padding,
            $normal-padding, $normal-radius, .5s
        );
    }
}

dialog.change-password-modal {
    @include form-box(10%, fit-content, auto);
    display: none;

    button#confirm-new-password-btn {
        margin-top: $large-padding;
        box-shadow: $default-shadow;
        @include icon-text-btn(
            $secondary-color,
            $short-padding $normal-padding,
            $normal-padding, $tiny-radius, .5s
        );

        color: white;
        &:hover {
            opacity: 1;
            background-color: $secondary-color-darken;
        }
    }
}
