@use '../setup/vars' as *;

*::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    width: $scrollbar-width;
    background-color: rgba(#000, .4);
}
