<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/error-status.min.css">

    <link rel="shortcut icon" href="../public/imgs/static/key-icon.png" type="image/x-icon">
    <title>Keys - I'm a Teapot</title>
</head>
<body>
    <main>
        <div class="main-container">
            <h1>I'm a Teapot</h1>
            <p>The requested URL refuses to serve coffee because it identifies itself as a teapot.</p>
            
            <a class="return-to-home" href="/index">
                <i class="fa-solid fa-house"></i>
                <span>Return to home</span>
            </a>
        </div>
    
        <div class="image-container">
            <img src="../public/imgs/static/safe418.png" alt="i'm a teapot">
        </div>
    </main>
</body>
</html>