<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gerenciador de senhas para uso pessoal e que não rouba seus dados :)">

    <link rel="stylesheet" href="../public/css/dashboard.min.css">
    <script src="../public/js/dashboard.min.js" defer></script>

    <link rel="shortcut icon" href="../public/icons/key-icon.png" type="image/x-icon">
    <title>KeysPHP - Dashboard</title>
</head>
<body>
    <!-- Criar um componente com o header já feito -->
    <!-- Adicionar uma lista de links no header -->
        <!-- INÍCIO (index), PAINÉL (dashboard) -->
    <header>
        <h1>🔑 Keys</h1>

        <nav id="header-navigator">
            <ul class="header-navigator__links-list">
                <li class="links-list__item"><a href="/">Início</a></li>
                <li class="links-list__item"><a href="/faq">Suporte</a></li>
                <li class="links-list__item"><a href="/dashboard">Painél de Controle</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Adicionar um ícone da foto de perfil e nome do usuário -->
        <!-- Adicionar o botão de logout ao lado do ícone e nome -->
        <!-- ÍCONE, NOME, BOTÃO LOGOUT -->
        
        <!-- Inserido Dinamicamente: -->
        <!-- <loader-menu> -->

        <!-- Conteúdo Inserido Dinamicamente: -->
        <section id="panel-selected"></section>
    </main>
</body>
</html>