<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gerenciador de senhas para uso pessoal e que não rouba seus dados :)">

    <link rel="stylesheet" href="../public/css/register.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.11.0/system.min.js"></script>
    <script src="../public/js/register.js" defer></script>

    <link rel="shortcut icon" href="../public/imgs/static/key-icon.png" type="image/x-icon">
    <title>Keys - Sign-up</title>
</head>
<body>
    <header>
        <h1><a href="/">🔑 Keys</a></h1>
    </header>

    <main>
        <section id="sign-up-box">
            <h2>Sign-up</h2>
            
            <form id="register-form" class="sign-up-box__form">
                <fieldset class="form__form-field">
                    <label for="name-input">Nome</label>

                    <div class="form-field__pass-container">
                        <input name="name" class="form-field__input" id="name-input" type="text" placeholder="Digite seu nome">
                    </div>
                </fieldset>
                
                <fieldset class="form__form-field">
                    <label for="email-input">Email</label>

                    <input name="email" class="form-field__input" id="email-input" type="email" placeholder="example@foo.bar" autocomplete="email">
                </fieldset>

                <fieldset class="form__form-field">
                    <label for="pass-input">Senha de acesso</label>

                    <div class="form-field__pass-container">
                        <input name="main_pass" class="form-field__input" id="pass-input" type="password" placeholder="Digite sua senha" autocomplete="new-password">
                        <!-- BOTÃO INSERIDO DINAMICAMENTE -->
                    </div>
                </fieldset>
                
                <p class="sign-up-box__message form-message"></p>
            </form>


            <button type="submit" form="register-form" class="sign-up-box__submit-btn">Cadastrar</button>

            <p>Já possui uma conta? <a href="/login">Entrar</a>!</p>
        </section>
    </main>
</body>
</html>