<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gerenciador de senhas para uso pessoal e que não rouba seus dados :)">

    <link rel="stylesheet" href="../public/css/user-settings.min.css">
    <script src="../public/js/user-settings.js" defer></script>

    <link rel="shortcut icon" href="../public/imgs/static/key-icon.png" type="image/x-icon">
    <title>KeysPHP - User Settings</title>
</head>
<body>
    <!-- Criar um componente com o header já feito -->
    <!-- Adicionar uma lista de links no header -->
        <!-- INÍCIO (index), PAINÉL (dashboard) -->
    <header>
        <h1>🔑 Keys</h1>

        <nav id="header-navigator">
            <ul class="header-navigator__links-list">
                <li class="links-list__item"><a href="/">Início</a></li>
                <li class="links-list__item"><a href="/faq">Suporte</a></li>
                <li class="links-list__item"><a href="/dashboard">Painél de Controle</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="user-settings">
            <div class="user-settings__user-infos">
                <input type="file" id="user-picture-input">

                <label for="user-picture-input" class="user-infos__picture" title="mudar foto de perfil">
                    <img src="../public/imgs/static/default-picture.png" alt="foto de perfil">
                </label>

                <div class="user-infos__user-nickname">
                    <label for="edit-nickname-btn" class="user-nickname__nickname">Nickname</label>

                    <button tabindex="0" id="edit-nickname-btn" title="editar nome de perfil">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </div>
            </div>

            <button tabindex="0" id="change-password-btn">
                <i class="fa-solid fa-key"></i>
                <span>Trocar minha Senha</span>
            </button>
        </section>
        
        <button tabindex="0" id="save-changes-btn" title="salvar alterações">
            <i class="fa-solid fa-floppy-disk"></i>
            <span class="save-changes-btn__label">Salvar Alterações</span>
        </button>
    </main>

    <!-- <dialog id="change-password-modal">
        <button id="close-password-modal-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <h2>Trocar Senha</h2>

        <form class="change-password-modal__form">
            <fieldset class="form__form-field">
                <label for="main-pass-input">Senha Atual</label>

                <div class="form-field__pass-container">
                    <input name="main_pass" class="form-field__input" id="main-pass-input" type="password" placeholder="Digite sua senha" autocomplete="current-password">
                    
                    <toggle-view-button for="main-pass-input"></toggle-view-button>
                </div>
            </fieldset>

            <fieldset class="form__form-field">
                <label for="new-pass-input">Nova Senha</label>

                <div class="form-field__pass-container">
                    <input name="new_main_pass" class="form-field__input" id="new-pass-input" type="password" placeholder="Digite sua senha" autocomplete="current-password">
                    
                    <toggle-view-button for="new-pass-input"></toggle-view-button>
                </div>
            </fieldset>

            <fieldset class="form__form-field">
                <label for="confirm-new-pass-input">Confirmar a Nova Senha</label>

                <div class="form-field__pass-container">
                    <input name="confirm_new_main_pass" class="form-field__input" id="confirm-new-pass-input" type="password" placeholder="Digite sua senha" autocomplete="current-password">
                    
                    <toggle-view-button for="confirm-new-pass-input"></toggle-view-button>
                </div>
            </fieldset>
        </form>

        <button id="confirm-new-password-btn">
            <i class="fa-solid fa-key"></i>
            <span>Trocar Senha</span>
        </button>
    </dialog> -->
</body>
</html>