@use '../setup/vars' as *;
@use '../functions/get-contrast' as *;
@use 'auto-contrast' as *;
@use 'clickable' as *;
@use 'flexbox' as *;
@use 'shapes' as *;

// Legado
@mixin btn($duration: $default-transition) {
    cursor: pointer;
    transition: all $duration;
}

@mixin retangular-btn($w: fit-content, $h: fit-content, $bg: transparent, $bg-hov: transparent, $b-radius: 0, $border: none, $spe-color: none) {
    border-radius: $b-radius;

    @include btn;
    @include rectangle($w, $h, $bg, $border);

    &:hover {
        background-color: $bg-hov;
    }

    @if $spe-color == none {
        & {
            color: get-contrast($bg);
        }

        &:hover {
            color: get-contrast($bg-hov);
        }
    } @else {
        & {
            color: $spe-color;
        }

        &:hover {
            color: $spe-color;
        }
    }
}

@mixin circle-btn($size: $default-btn-size, $bg: transparent, $bg-hov: transparent, $spe-color: none) {
    aspect-ratio: 1;
    
    @include flex-center;
    @include retangular-btn($size, $size, $bg, $bg-hov, 50%, none, $spe-color);
}

@mixin icon-btn($context-color: $primary-color) {
    color: rgba(get-contrast($context-color), .4);
    @include btn(.3s);

    &:hover { color: get-contrast($context-color) }
}

@mixin icon-text-btn($bg: transparent, $pad: 0, $gap: 0, $b-radius: 0, $transitionTime: 0) {
    padding: $pad;
    border-radius: $b-radius;
    width: fit-content;
    @include flex-row($align: center, $gap: $gap);
    @include auto-contrast($bg);
    @include clickable($transitionTime);

    &:hover { opacity: 0.7 }
}
