@use 'auto-contrast' as *;

@mixin shape($bg: transparent, $border: none) {
    border: $border;
    @include auto-contrast($bg);
}

@mixin rectangle($w: fit-content, $h: fit-content, $bg: transparent, $border: none) {
    width: $w;
    height: $h;

    @include shape($bg, $border);
}

@mixin square($size: fit-content, $bg: transparent, $border: none) {
    aspect-ratio: 1;
    @include rectangle($size, $size, $bg, $border);
}

@mixin rounded-square($size: fit-content, $b-radius, $bg: transparent, $border: none) {
    border-radius: $b-radius;
    @include square($size, $bg, $border);
}

@mixin circle($size, $bg: transparent, $border: none) {
    @include rounded-square($size, 50%, $bg, $border);
}
